* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #524eb7;
    color: #1d1c3c;
    Font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 550px;
    height: 100vh;
    max-height: 650px;
    /* border: 1px solid #000; */
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #fff;

    border-radius: 15px;
    background: #524eb7;
    box-shadow: 20px 20px 60px #46429c,
        -20px -20px 60px #5e5ad2;

    overflow: hidden;
}

.messages-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}

.message-item__container {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.message-item__username {
    font-weight: 200;
    /* margin-bottom: 5px; */
    font-size: 12px;
}

.message-item__content {
    padding: 5px 0;
}

/* #1687d9 */
/* #1543cc */
.message-wrapper {
    width: 60%;
    padding: 6px 15px;
    color: #fff;
    border-radius: 10px;
    background: #6461BF;
    position: relative;
    z-index: 1;
    min-height: 30px;
}

.message-wrapper__sent {
    background: #6461BF;
    border-bottom-right-radius: 0;
}

.message-wrapper__recived {
    background: #4844A7;
    border-bottom-left-radius: 0;
}

.message-wrapper__recived::after {
    position: absolute;
    content: '';
    /* background: #4844A7; */
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 15px solid #4844A7;
    bottom: 0px;
    left: -6px;
    z-index: 0;
}

.message-wrapper__sent::after {
    position: absolute;
    content: '';
    /* background: #4844A7; */
    display: block;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 15px solid #6461BF;
    bottom: 0px;
    right: -6px;
    z-index: 0;
}


.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.input {
    flex: 1;
    background: #A6A4DA;
    border: none;
    outline: none;
    padding: 7px 15px;
    border-radius: 15px;
    color: #1d1c3c;
}

.input-wrapper__btn {
    background: #A6A4DA;
    border: none;
    outline: none;
    padding: 7px 15px;
    border-radius: 15px;
    color: #1d1c3c;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.input-wrapper__btn:hover {
    opacity: 0.8;
}

.input-wrapper__btn img {
    width: 17px;
    height: 16px;
    object-fit: contain;
    opacity: 0.8;
}





/* home */

.home-auth {
    /* display: flex; */
    width: 90%;
    margin: auto;
}

.home-auth__title {
    color: #1d1c3c;
    /* margin-bottom: 10px; */
    font-weight: 400;
}

.home-auth__input {
    width: 100%;
}

.home-auth__btn {
    display: block;
    flex: 1;
    background: #A6A4DA;
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 15px;
    color: #1d1c3c;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.home-auth__btn:hover {
    /* opacity: 0.7; */
    background: #35327A;
    color: #A6A4DA;
}

.user-list__container {
    padding: 15px;
    overflow-y: auto;
}

.user-list-item {
    width: 100%;
    background: #4844A7;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

.user-list-item:hover,
.user-list-item_selected {
    background: #3B3787;
}

.user-list-item_selected {
    width: 70%;
    margin-left: 30%;
}

.user-list__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 15px; */
    padding: 15px;
}

.user-list__btn {
    display: block;
    background: #A6A4DA;
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 15px;
    color: #1d1c3c;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.user-list__btn:hover,
.user-list__btn_active {
    /* opacity: 0.7; */
    background: #35327A;
    color: #A6A4DA;
}

.create-chat__btn {
    margin: 15px auto;
    width: fit-content;
}

.create-chat__btn:disabled {
    background: #A6A4DA;
    color: #1d1c3c;
    opacity: 0.7;
}

.create-chat__btn_disabled {
    cursor: default;
}